<footer class="site-footer">

  <div class="footer-container">

    <div class="footer-brand">

      <a routerLink="/" class="footer-logo">

        <span class="material-symbols-outlined">
          menu_book
        </span>

        <span>LibraryMS</span>

      </a>

      <p>
        Une gestion simple et moderne de votre bibliothèque.
      </p>

    </div>

    <div class="footer-section">

      <h3>Navigation</h3>

      <a routerLink="/">
        <span class="material-symbols-outlined">home</span>
        Accueil
      </a>

      <a routerLink="/books">
        <span class="material-symbols-outlined">menu_book</span>
        Livres
      </a>

      <a routerLink="/authors">
        <span class="material-symbols-outlined">groups</span>
        Auteurs
      </a>

    </div>

    <div class="footer-section">

      <h3>Gestion</h3>

      <a routerLink="/categories">
        <span class="material-symbols-outlined">category</span>
        Catégories
      </a>

      <a routerLink="/loans">
        <span class="material-symbols-outlined">book</span>
        Emprunts
      </a>

    </div>

    <div class="footer-section">

      <h3>LibraryMS</h3>

      <p>
        Plateforme de gestion de bibliothèque.
      </p>

      <p class="footer-version">
        Version 1.0
      </p>

    </div>

  </div>

  <div class="footer-bottom">

    <span>
      © 2026 LibraryMS. Tous droits réservés.
    </span>

  </div>

</footer>